@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(247 248 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(0, 3, 27);
  }
}

html {
  background-color: black;
}

body {
  background: linear-gradient(179.4deg, rgb(4 7 26) -16.9%, rgb(28 3 36) 119.9%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
}