nav {
    height: 68px;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    /* background: linear-gradient(180deg, black, transparent); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-right-cont {
    display: flex;
}

.nav-left-cont {
    display: flex;
}

.nav-menus {
    display: flex;
}