.auto-play-video {
    width: 100%;
    height: auto;
}

.video-container {
    position: relative;
}

.video-mute-button {
    color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.video-mute-button:hover {
    color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.3);
}

.video-tag {
    color: white;
    border-left: 4px solid rgba(255, 255, 255, 0.75);
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    height: 34px;
}

.video-options {
    position: absolute;
    bottom: 20%;
    right: 0px;
    display: flex;
}